<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @RenderSection("Head", required: false)
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        
	<script src="@Url.Content("~/scripts/")jquery-1.8.3.js"></script>
        @*@Scripts.Render("~/scripts/jquery-1.9.1.js")*@
        <link rel="stylesheet" href="@Url.Content("~/content/")jquery.ui.all.css">
	    <link rel="stylesheet" href="@Url.Content("~/content/")demos.css">
	    <script src="@Url.Content("~/scripts/")jquery.ui.core.js"></script>
	    <script src="@Url.Content("~/scripts/")jquery.ui.widget.js"></script>
	    <script src="@Url.Content("~/scripts/")jquery.ui.datepicker.js"></script>
        
        
	<script type="text/javascript">
        $(document).ready(function(){
	        $("#dob").datepicker({
	            //changeMonth: true,
	            //changeYear: true
	        });
	    });
	</script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
